<ion-content>
  <ion-item lines="none" class="ion-margin-bottom">
    <h1 class="ion-no-padding ion-no-margin">Settings</h1>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        Light/Dark Theme
      </ion-label>
      <ion-toggle id="themeToggle" slot="end" (click)="toggleColorScheme()"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item button routerLink="/edit-profile">
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label>
        <h3>Edit Profile</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item button onclick="showDetail('Tags')">
      <ion-icon slot="start" name="albums-outline"></ion-icon>
      <ion-label>
        <h3>Add/Edit NFC Tags</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item button onclick="showDetail('QR')">
      <ion-icon slot="start" name="qr-code-outline"></ion-icon>
      <ion-label>
        <h3>Add/Edit QR Codes</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item button onclick="showDetail('Contact')">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-label>
        <h3>Contact Us</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item button onclick="signOut()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>
        <h3>Sign Out</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>