<ion-header translucent>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item button (click)="changeTheme()">
      <ion-icon slot="start" name="color-palette-outline"></ion-icon>
      <ion-label>
        <h3>Change Theme</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item button routerLink="/edit-profile" (click)="setPrevious()">
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label>
        <h3>Edit Profile</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="isAgent">
    <ion-item button routerLink="/my-tags" (click)="setPrevious()">
      <ion-icon slot="start" name="albums-outline"></ion-icon>
      <ion-label>
        <h3>View My NFC Tags</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item button (click)="routeToCreateTag()">
      <ion-icon slot="start" name="duplicate-outline"></ion-icon>
      <ion-label>
        <h3>Add New NFC Tag</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- <ion-list>
    <ion-item button onclick="showDetail('Contact')">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-label>
        <h3>Contact Us</h3>
      </ion-label>
    </ion-item>
  </ion-list> -->
  <ion-list>
    <ion-item button (click)="presentSignOutConfirm()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>
        <h3>Sign Out</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="tab-footer">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="routeToTags()">
        <ion-icon name="albums-outline"></ion-icon>
        <ion-label>Tags</ion-label>
      </ion-tab-button>
      <ion-fab-button color="danger" (click)="routeToScan()">
        <h4 class="scan-label">SCAN</h4>
      </ion-fab-button>
      <ion-tab-button>
        <ion-icon name="settings-outline" color="primary"></ion-icon>
        <ion-label color="primary">Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>