<ion-header translucent>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item button (click)="changeTheme()">
      <ion-icon slot="start" name="color-palette-outline"></ion-icon>
      <ion-label>
        <h3>Change Theme</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item button routerLink="/edit-profile" (click)="setPrevious()">
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label>
        <h3>Edit Profile</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item button routerLink="/my-tags" (click)="setPrevious()">
      <ion-icon slot="start" name="albums-outline"></ion-icon>
      <ion-label>
        <h3>Add/Edit NFC Tags</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item button routerLink="/my-tags" (click)="setPrevious()">
      <ion-icon slot="start" name="qr-code-outline"></ion-icon>
      <ion-label>
        <h3>Add/Edit QR Codes</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item button onclick="showDetail('Contact')">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-label>
        <h3>Contact Us</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item button (click)="presentSignOutConfirm()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>
        <h3>Sign Out</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>