<ion-header class="ion-no-border ion-padding" translucent="true" mode="md">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button mode="md">
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
      <div class="numberCircle">3</div>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item lines="none" class="ion-margin-bottom">
    <h1 class="ion-no-padding ion-no-margin">Shoes</h1>
    <ion-button fill="clear" slot="end" color="dark" mode="ios">
      <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
      <strong>Sort by</strong>
    </ion-button>
  </ion-item>

  <ion-grid>
    <ion-row class="ion-no-padding ion-no-margin">
      <ng-container *ngFor="let product of products">
        <ion-col class="ion-no-padding ion-no-margin" size="6">
          <ion-card class="product" routerLink="/product" >
            <ion-card-content>
              <h2>{{product.name}}</h2>
              <img [src]="product.image">
              <ion-item style="--background: none;" class="ion-no-padding ion-no-margin" lines="none">
                <ion-button mode="ios" slot="start" shape="round" size="small" color="dark">Buy</ion-button>
                <p>${{product.price}}</p>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>



</ion-content>