<ion-app>
  <ion-router-outlet id="content" main></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tags" class="tab-button-left">
        <ion-icon name="albums-outline"></ion-icon>
        <ion-label>Tags</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="settings" class="tab-button-right">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <div class="scan-button-container">
    <ion-fab-button color="danger" (click)="presentActionSheet()">
      <h4 class="scan-label">SCAN</h4>
    </ion-fab-button>
  </div>
</ion-app>