#menu-header {
  background-image: url(/assets/img/sport.jpg);
  border-bottom-left-radius: 80px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 20px;

  p {
    color: white !important;
  }

  #avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  #header-over {
    background-color: rgba(36, 19, 50, 0.3); //Primary dark color
    border-bottom-left-radius: 80px;
    padding: 40px;
    h2 {
      color: white;
      font-size: 24px;
      font-weight: bold;
      padding-top: 15px;
    }
  }
}

.scan-button-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 87%;
  height: 90px;
  width: 90px;
  left: 38%;
}

.scan-button-container ion-fab-button {
  height: 90px;
  width: 90px;
}

h4.scan-label {
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
}

.settings-label {
  font-size: 16px !important;
}

.owner-container .item-native {
  padding-left: 0px !important;
  padding-inline-start: 0px !important;
}
