.owner-container {
  display: flex !important;
}

.owner-buttons {
  display: flex !important;
}

.owner-container .item-native {
  padding-left: 0px !important;
  padding-inline-start: 0px !important;
}

.owner-label .help-icon {
  font-size: 22px !important;
}
