<ion-header translucent>
  <ion-toolbar>
    <ion-title>NoTouchTags</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-right ion-padding">
        <ion-button routerLink="/login" class="top-button ion-margin-top" size="medium" shape="round" fill="clear">Login
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-left ion-padding">
        <ion-button class="top-button ion-margin-top" size="medium" shape="round" color="primary">Sign Up
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-padding-end">
    <form role="form" [formGroup]="userSignup" (ngSubmit)="signup()">
      <ion-item class="ion-margin-top">
        <ion-input formControlName="firstName" mode="md" type="text" placeholder="First Name"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-top">
        <ion-input formControlName="lastName" mode="md" type="text" placeholder="Last Name"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-top">
        <ion-input formControlName="email" mode="md" type="email" placeholder="Email *" required></ion-input>
      </ion-item>
      <ion-item class="ion-margin-top">
        <ion-input formControlName="password" mode="md" type="password" placeholder="Password *" required></ion-input>
      </ion-item>
      <ion-item class="ion-margin-top">
        <ion-input formControlName="passwordConfirm" mode="md" type="password" placeholder="Confirm Password *"
          required>
        </ion-input>
      </ion-item>
      <ion-item class="ion-margin-top owner-container" *ngIf="isAgent === 'NO'">
        <div class="owner-label">
          <strong (click)="ownerManagerHelp()">
            Tag Manager
            <ion-icon class="help-icon" name="help-circle-outline" color="primary"></ion-icon>
          </strong>
        </div>
        <div class="owner-buttons" slot="end">
          <ion-button color="primary" size="default">No</ion-button>
          <ion-button color="light" size="default" (click)="changeOwnership('YES')">Yes</ion-button>
        </div>
      </ion-item>
      <ion-item class="ion-margin-top owner-container" *ngIf="isAgent === 'YES'">
        <div class="owner-label">
          <strong (click)="ownerManagerHelp()">
            Tag Manager
            <ion-icon class="help-icon" name="help-circle-outline" color="primary"></ion-icon>
          </strong>
        </div>
        <div class="owner-buttons" slot="end">
          <ion-button color="light" size="default" (click)="changeOwnership('NO')">No</ion-button>
          <ion-button color="primary" size="default">Yes</ion-button>
        </div>
      </ion-item>
      <div class="ion-text-center ion-margin-top ion-padding">
        <ion-button
          [disabled]="userSignup.value.email.length < 5 || userSignup.value.password.length < 3 || userSignup.value.passwordConfirm !== userSignup.value.password"
          type="submit" class="ion-margin-top ion-margin-bottom" size="large" expand="block" shape="round"
          color="primary">
          Sign Up
        </ion-button>
      </div>
    </form>
    <ion-button (click)="AppleSignIn()" color="dark" size="large" expand="full" shape="round" class="apple-login">
      <ion-icon expand="full" name="logo-apple" slot="start"></ion-icon>
      Sign Up with Apple
    </ion-button>
  </div>
</ion-content>