<ion-header translucent>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="[previousRoute]" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Tag Details</ion-title>
    <ion-buttons *ngIf="editEnabled" slot="end">
      <ion-button (click)="routeToEditTag()" color="success">Edit Tag</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="!loading">
  <ion-slides class="gallery" Sclass="ion-padding-top" pager="false">
    <ion-slide class="ion-margin-bottom">
      <ion-img [src]="selectedTag.imageUrl"></ion-img>
    </ion-slide>
  </ion-slides>
  <!-- <ion-slides pager="false" [options]="slideOpts">
    <ng-container *ngFor="let image of images">
      <ion-slide class="size-slide">
        <ion-img [src]="image.url"></ion-img>
      </ion-slide>
    </ng-container>
  </ion-slides> -->
  <div>
    <div class="title">
      <h1>{{ selectedTag.tagTitle }}</h1>
      <h2>{{ selectedTag.tagSubTitle }}</h2>
      <h2>${{ selectedTag.tagPrice }}</h2>
    </div>
    <ion-item lines="none">
      <p><strong>Description</strong></p>
    </ion-item>
    <ion-item lines="none" class="description">
      <p class="tag-description">{{ selectedTag.tagInfo }}</p>
    </ion-item>
  </div>
</ion-content>
<ion-footer class="tab-footer">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="routeToTags()">
        <ion-icon name="albums-outline"></ion-icon>
        <ion-label>Tags</ion-label>
      </ion-tab-button>
      <ion-fab-button color="danger" (click)="routeToScan()">
        <h4 class="scan-label">SCAN</h4>
      </ion-fab-button>
      <ion-tab-button (click)="routeToSettings()">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>