<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="[previousRoute]"></ion-back-button>
    </ion-buttons>
    <ion-title>Scan NFC Tag</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="no-tags-container">
    <h2 *ngIf="scanning" class="scanning-header">Scanning</h2>
    <ion-progress-bar *ngIf="scanning" type="indeterminate"></ion-progress-bar>
    <ion-button *ngIf="scanning" (click)="stopScan()" class="scanning-button ion-margin-top ion-margin-bottom"
      size="large" expand="block" shape="round" color="danger">
      Cancel
    </ion-button>
    <ion-button *ngIf="!scanning" (click)="startScan()" class="scanning-button ion-margin-top ion-margin-bottom"
      size="large" expand="block" shape="round" color="primary">
      Scan
    </ion-button>
  </div>
</ion-content>
<ion-footer class="tab-footer">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="routeToTags()">
        <ion-icon name="albums-outline"></ion-icon>
        <ion-label>Tags</ion-label>
      </ion-tab-button>
      <ion-fab-button *ngIf="theme === 'light'" color="light">
        <h4 class="scan-label">SCAN</h4>
      </ion-fab-button>
      <ion-fab-button *ngIf="theme === 'dark'" color="medium">
        <h4 class="scan-label">SCAN</h4>
      </ion-fab-button>
      <ion-tab-button (click)="routeToSettings()">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>