<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="[previousRoute]"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>Application</ion-label>
    <ion-select interface="popover">
      <ion-select-option value="artGallery">Art Gallery</ion-select-option>
      <ion-select-option value="realEstate">Real Estate</ion-select-option>
      <ion-select-option value="showroom">Showroom</ion-select-option>
      <ion-select-option value="wineTasting">Wine Tasting</ion-select-option>
      <ion-select-option value="other">Other</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input placeholder="Johnny Appleseed" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input placeholder="johnny@appleseed.com" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Phone Number</ion-label>
    <ion-input placeholder="5551234567" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Company</ion-label>
    <ion-input placeholder="Appleseed Apples" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Website</ion-label>
    <ion-input placeholder="www.appleseedapples.com" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Address</ion-label>
    <ion-input placeholder="Address Line 1"></ion-input>
    <ion-input placeholder="Address Line 2"></ion-input>
    <ion-input placeholder="City"></ion-input>
    <ion-input placeholder="State"></ion-input>
    <ion-input placeholder="Zip Code"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Details</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
</ion-content>