<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/create-tag"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Photo(s)</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button (click)="addPhotoToGallery()" expand="block" color="primary">Add Photo(s)</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>